# Binaries
gix.exe
/gix
*.exe
*.test
*.out

# Go
vendor/
go.work*

# Fyne
*.syso
*.manifest

# Build
dist/
release/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

node_modules/
.env

# Wails / frontend
.task
bin/
frontend/dist/*
!frontend/dist/.gitkeep
frontend/node_modules
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# Superpowers scratch
.superpowers/